//- icon - icon class
//- offsetTop - margin-top in heading
//- title - box title
//- desc - description of box
mixin box-icon-type-2(icon, title, clTitle, desc, unitClass)
  // Icon Box Type 2
  .unit.unit-sm.flex-md-row.unit-spacing-sm.text-md-left.align-items-center(class= unitClass)
    .unit-left
      span.icon(class= icon)
    .unit-body
      h5.font-weight-bold(class= clTitle)= title
      p= desc
