//- RD Navbar Simple submenu

mixin rd-navbar-simple-submenu(link)
  - if (typeof(link.submenu) !== 'undefined'){
    ul.rd-navbar-dropdown
      each sublink in link.submenu
        li
          a(href=sublink.href)
            span.text-middle= sublink.title
            - if (typeof(sublink.badge) !== 'undefined')
              span.rd-navbar-label.badge-custom.badge-danger.badge-xs-custom.badge-rounded-custom.badge #{sublink.badge}

          +rd-navbar-simple-submenu(sublink)
  -}

