extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic

//- Title
block variables
	- pageName = '503'

//- Page
block page


	section.section.section-single.bg-accent
		.section-single-inner
			.section-single-header: .container
				+logo

			.section-single-main: .container
				// 404
				h2 Service is Temporary Unavailable
				.text-extra-big.text-white-opacity-02.font-accent 503
				p.block-sm.offset-top-50 Sorry, we're offline right now to make our site even better. Please, come back later and check what we've been up to.
				.group.offset-top-30
					a.btn.btn-ellipse.btn-specific(href= 'index.html')
						| back to home page
			.section-single-footer: .container
				+rights

