extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-modern
include ../elements/_ui-thumbnail-josip
include ../elements/_ui-box-icon-type-2
include ../elements/_ui-testimonials-type-1

//- Title
block variables
	- pageName = 'About'

//- Page
block page

	include ../sections/_header-subpage

	+breadcrumbs

	// a few words about us
	section.section-lg.bg-default.text-left.section
		.container
			.row.justify-content-sm-center.row-30
				.col-sm-10.col-lg-8
					h3 A Few Words About Us
					.offset-top-20.offset-lg-top-60
						p Etiam et imperdiet quam. In sit amet finibus lorem, ac ultricies enim. Aliquam volutpat enim diam, vitae elementum ipsum tempor sit amet. Ut pellentesque sem nulla, in blandit leo viverra a. Phasellus et lacus mattis, tincidunt metus sodales, tincidunt urna. Cras felis neque, iaculis vitae varius eu, luctus consectetur odio. Phasellus non luctus justo, eu fringilla tortor. Aenean ornare sem sit amet rhoncus tincidunt. Cras tempor eu enim id pulvinar. Proin at imperdiet felis, vel vehicula neque. Nulla quis nisl facilisis ex dignissim euismod eu vel neque.
						p Proin accumsan ultricies tincidunt. Morbi semper enim a nulla vulputate pellentesque. Sed nulla tellus, gravida vel placerat vel, euismod at neque. Maecenas commodo viverra efficitur.

				.col-sm-10.col-lg-4
					h6 the heart of medical center
					hr.text-subline
					.offset-top-30
						.unit.flex-xxl-row.flex-xl-row.flex-lg-column.flex-md-row.flex-sm-row.unit-spacing-sm
							.unit-left
								+img-set-dimensions('images/user-scott-riley-110x110.jpg', 'img-responsive')
							.unit-body
								h5.font-weight-bold.text-primary Dr. Scott Riley
								p.font-italic.offset-top-0 Chief Medical Officer, Founder
								.p.unit.unit-spacing-xxs.flex-row
									.unit-left
										span.icon.icon-xs.mdi.mdi-phone.text-primary
									.unit-body
										a(href="tel:#").h6 1-800-1234-567
						p Proin accumsan ultricies tincidunt. Morbi semper enim a nulla vulputate pellentesque. Sed nulla tellus, gravida vel placerat vel, euismod at neque.
						a(href="team-member.html").btn.btn-primary.btn-ellipse Learn More

	// Our Achievements
	section.text-md-left.bg-default-liac.section
		.container-wide.container
			.row.justify-content-sm-center
				.col-xl-5.col-xxl-4.section-90.section-md-122.context-md-dark.bg-image-md-fullwidth-1.bg-image-md-fullwidth-1-left.d-none.d-xl-block

				.col-md-10.col-lg-12.col-xl-7.col-xxl-8.section-85
					.inset-lg-left-60.inset-xxl-left-100
						h3 Our Achievements
						.offset-top-41.offset-lg-top-60
							.row
								.col-lg-12.col-xxl-9
									.row.row-50
										.col-lg-6
											+box-icon-type-2("icon icon-sm icon-circle text-primary icon-default mdi mdi-trophy-variant", "The Best Medical Center 2015", "font-weight-bold text-gray-darkest", "", "unit-middle")
										.col-lg-6
											+box-icon-type-2("icon icon-sm icon-circle text-primary icon-default  mdi mdi-pill copy", "Certified by the AMA and IAMH", "font-weight-bold text-gray-darkest", "", "unit-middle")
										.col-lg-6
											+box-icon-type-2("icon icon-sm icon-circle text-primary icon-default  mdi mdi-school", "The Best Diagnostics Award", "font-weight-bold text-gray-darkest", "", "unit-middle")
										.col-lg-6
											+box-icon-type-2("icon icon-sm icon-circle text-primary icon-default  mdi mdi-star", "Global Health Contributor", "font-weight-bold text-gray-darkest", "", "unit-middle")

	// Our team
	section.section-lg.section.bg-default
		.container
			h3.text-center Our team
			.row.justify-content-sm-center.row-40
				.col-sm-8.col-md-6.col-lg-4.col-xl-3
					+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Scott Riley",
							"description": "Chief Medical Officer, Pathologist",
							"thumb": {"src": "images/our-team-08-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
							"styleClass": "odd"
						})
				.col-sm-8.col-md-6.col-lg-4.col-xl-3
					+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Martha Schmidt",
							"description": "EKG Technician",
							"thumb": {"src": "images/our-team-02-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile"
						})
				.col-sm-8.col-md-6.col-lg-4.col-xl-3
					+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Sam McMillan",
							"description": "Histotechnologist",
							"thumb": {"src": "images/our-team-03-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
							"styleClass": "odd"
						})
				.col-sm-8.col-md-6.col-lg-4.col-xl-3
					+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Mary Smith",
							"description": "Phlebotomist",
							"thumb": {"src": "images/our-team-04-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
						})
				.col-sm-8.col-md-6.col-lg-4.col-xl-3
					+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Jane Fowler",
							"description": "Clinical Laboratory Technologist",
							"thumb": {"src": "images/our-team-05-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
							"styleClass": "odd"
						})
				.col-sm-8.col-md-6.col-lg-4.col-xl-3
					+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Eric Snyder",
							"description": "MRI Technologist",
							"thumb": {"src": "images/our-team-06-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile"
						})
				.col-sm-8.col-md-6.col-lg-4.col-xl-3
					+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Kate Hudson",
							"description": "Medical Laboratory Technician",
							"thumb": {"src": "images/our-team-07-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
							"styleClass": "odd"
						})
				.col-sm-8.col-md-6.col-lg-4.col-xl-3
					+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. James Wilson",
							"description": "Radiology Technician",
							"thumb": {"src": "images/our-team-01-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
						})



	// testimonials
	section.section-lg.section.bg-default-liac
		.container
			h3.text-center Testimonials
			.offset-top-66
				.owl-carousel.owl-carousel-default.owl-carousel-class-light(
					data-loop="false", data-margin='15', data-items="1"
					data-dots="true" data-mouse-drag="false"
					data-lg-items="3"
					data-owl= {
						dots: true,
						nav: false,
						autoplayTimeout: 3500
					}
					)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-betty-wade-60x60.jpg",
								"alt": ""
							},
							"Betty Wade",
							"Regular Patient",
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula tellus, vestibulum a velit at, cursus iaculis quam. Ut tempus augue non tellus semper convallis."
						)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-bryan-green-60x60.jpg",
								"alt": ""
							},
							"Bryan Green",
							"Regular Patient",
							"Proin luctus augue vel egestas aliquam. Etiam rhoncus erat nisi, at molestie dolor pellentesque vel. Praesent leo est, molestie id mauris ut, ornare dictum massa."
						)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-joan-anderson-60x60.jpg",
								"alt": ""
							},
							"Joan Anderson",
							"Regular Patient",
							"Suspendisse pharetra purus a sollicitudin pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.  Cras et diam tempus, ultrices."
						)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-betty-wade-60x60.jpg",
								"alt": ""
							},
							"Betty Wade",
							"Regular Patient",
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula tellus, vestibulum a velit at, cursus iaculis quam. Ut tempus augue non tellus semper convallis."
						)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-bryan-green-60x60.jpg",
								"alt": ""
							},
							"Bryan Green",
							"Regular Patient",
							"Proin luctus augue vel egestas aliquam. Etiam rhoncus erat nisi, at molestie dolor pellentesque vel. Praesent leo est, molestie id mauris ut, ornare dictum massa."
						)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-joan-anderson-60x60.jpg",
								"alt": ""
							},
							"Joan Anderson",
							"Regular Patient",
							"Suspendisse pharetra purus a sollicitudin pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.  Cras et diam tempus, ultrices."
						)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-betty-wade-60x60.jpg",
								"alt": ""
							},
							"Betty Wade",
							"Regular Patient",
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula tellus, vestibulum a velit at, cursus iaculis quam. Ut tempus augue non tellus semper convallis."
						)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-bryan-green-60x60.jpg",
								"alt": ""
							},
							"Bryan Green",
							"Patient",
							"Proin luctus augue vel egestas aliquam. Etiam rhoncus erat nisi, at molestie dolor pellentesque vel. Praesent leo est, molestie id mauris ut, ornare dictum massa."
						)
					.item
						+testimonials-type-1(
							{
								"width": 60,
								"height": 60,
								"src": "images/users/user-joan-anderson-60x60.jpg",
								"alt": ""
							},
							"Joan Anderson",
							"Regular Patient",
							"Suspendisse pharetra purus a sollicitudin pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et diam tempus, ultrices."
						)





	// Page Footer
	include ../sections/_section-footer-default