extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-modern
include  ../elements/_ui_accordion-classic

//- Title
block variables
	- pageName = 'About'

//- Page
block page

	include ../sections/_header-subpage

	+breadcrumbs

	// general questions
	section.section-lg.section.pb-xl-0(style="background-color:#fdfdfd")
		.container.text-left
			.row.justify-content-sm-center
				.col-md-9.col-xl-8
					h3 General Questions
					.offset-top-41.offset-lg-top-66
						+accordion-classic(['What are the advantages of purchasing a website template?', 'Do you provide any scripts with your templates?', 'What am I allowed to do with the templates?', 'In what formats are your templates available?'])
							div
								| The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.
							div
								| Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.
							div
								| You may build a website using the template in any way you like. You may not resell or redistribute templates.
							div
								| Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file. In most templates, HTML is compatible with Adobe® Dreamweaver® and Microsoft® FrontPage®.

				.col-xl-4.offset-top-0.d-none.d-xl-block
					img.d-none.d-lg-inline-block(src="images/pages/faq-01-370x554.jpg" width="370" height="554" alt="")

	// Frequently Asked Questions
	section.section-98.section-sm-110.bg-default-liac
		.container.text-left
			.row.justify-content-sm-center.justify-content-lg-start
				.col-md-10.col-lg-8
					h3 Frequently Asked Questions
					.offset-top-41.offset-lg-top-66
						ul.list-marked.list-marked-gray.inset-left-0.list
							li.font-weight-bold
								a(href="#" data-custom-scroll-to="faq1").text-primary What are the advantages of purchasing a website template?
							li.font-weight-bold
								a(href="#" data-custom-scroll-to="faq2").text-primary Do you provide any scripts with your templates?
							li.font-weight-bold
								a(href="#" data-custom-scroll-to="faq3").text-primary What am I allowed to do with the templates?
							li.font-weight-bold
								a(href="#" data-custom-scroll-to="faq4").text-primary In what formats are your templates available?
					.offset-top-41.offset-lg-top-66
						h5.font-weight-bold#faq1 What are the advantages of purchasing a website template?
						p The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days to produce a web page of such quality.
						h5.font-weight-bold#faq2 Do you provide any scripts with your templates?
						p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.
						h5.font-weight-bold#faq3 What am I allowed to do with the templates?
						p You may build a website using the template in any way you like. You may not resell or redistribute templates.
						h5.font-weight-bold#faq4 In what formats are your templates available?
						p Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file.
	// RD Parallax
	section.parallax-container(data-parallax-img='images/background-04-1920x980.jpg')
		.parallax-content.section-98.section-sm-110.context-dark
			.container.text-left
				.row.justify-content-sm-center.justify-content-lg-start
					.col-md-10.col-lg-8
						h2 If You Have a Question Please Send Us a Letter
						a(href="contacts.html").btn.btn-ellipse.btn-white Contact us
	// Page Footer
	include ../sections/_section-footer-default