extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-modern
include ../elements/_ui-counter-type-1
include ../elements/_ui-progress-bar-linear
include ../elements/_ui-progress-bar-circle

//- Title
block variables
	- pageName = 'Progress Bars'

//- Page
block page

	include ../sections/_header-subpage

	+breadcrumbs

	//COUNTERS
	section.section-lg.section.bg-default
		.container
			.row.justify-content-sm-center.justify-content-lg-start
				.col-md-10.col-lg-12
					h6.text-lg-left COUNTERS
					hr.text-subline
					.row.align-items-lg-center.text-center.row-30
						.col-md-6.col-lg-3
							+counter-type-1("Years of Experience", "font-weight-bold ", {
								"value": "15",
								"dataSpeed": "1300",
								"attr": "text-primary offset-top-20"
							}, "divider divider-sm bg-accent", "h3")
						.col-md-6.col-lg-3
							+counter-type-1("Satisfied Patients", "font-weight-bold ", {
								"value": "3749",
								"dataSpeed": "2500",
								"attr": "text-primary offset-top-20"
							}, "divider divider-sm bg-accent", "h3")
						.col-md-6.col-lg-3
							+counter-type-1("Qualified Doctors", "font-weight-bold ", {
								"value": "56",
								"dataSpeed": "1500",
								"attr": "text-primary offset-top-20"
							}, "divider divider-sm bg-accent", "h3")
						.col-md-6.col-lg-3
							+counter-type-1("Departments", "font-weight-bold ", {
								"value": "8",
								"dataSpeed": "1300",
								"attr": "text-primary offset-top-20"
							}, "divider divider-sm bg-accent", "h3")
	//skill bars
	section.section-lg.section.bg-default
		.container
			.row.justify-content-sm-center.justify-content-lg-start
				.col-md-10.col-lg-8
					h6.text-lg-left skill bars
					hr.text-subline
					.row.offset-top-30
						.col-lg-9
							+progress-bar-linear({
								"title": "LABORATORY SERVICES",
								"apClass": "bg-accent",
								"value": "50"
							})
							.offset-top-30
								+progress-bar-linear({
									"title": "X-RAY DIAGNOSTICS",
									"apClass": "bg-accent",
									"value": "20"
								})
							.offset-top-30
								+progress-bar-linear({
									"title": "ULTRASOUND DIAGNOSTICS",
									"apClass": "bg-accent",
									"value": "87"
								})
							.offset-top-30
								+progress-bar-linear({
									"title": "PEDIATRICS",
									"apClass": "bg-accent",
									"value": "37"
								})

	//Progress bars
	section.section-lg.section.bg-default
		.container
			.row.justify-content-sm-center.justify-content-lg-start
				.col-md-10.col-lg-12
					h6.text-lg-left Progress bars
					hr.text-subline
					.row.justify-content-md-center.offset-top-30
						.col-md-8.col-lg-12
							.row.row-30
								.col-md-6.col-lg-3
									+progress-circle({
										title: 'LABORATORY SERVICES',
										value: 50
									})

								.col-md-6.col-lg-3
									+progress-circle({
										title: 'X-RAY DIAGNOSTICS',
										value: 20
									})
								.col-md-6.offset-sm-top-30.col-lg-3.offset-md-top-0
									+progress-circle({
										title: 'ULTRASOUND DIAGNOSTICS',
										value: 87
									})
								.col-md-6.offset-sm-top-30.col-lg-3.offset-md-top-0
									+progress-circle({
										title: 'PEDIATRICS',
										value: 37
									})




	// Page Footer
	include ../sections/_section-footer-default