extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-modern
include ../elements/_ui-thumbnail-josip

//- Title
block variables
	- pageName = 'Team'

//- Page
block page

	include ../sections/_header-subpage

	+breadcrumbs

	section.section-lg.section.bg-default
		.container
			h3.text-center 4 Column Layout
			.offset-top-41.offset-lg-top-60
				.row.justify-content-sm-center
					.col-sm-8.col-md-7.col-lg-3
						+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Scott Riley",
							"description": "Chief Medical Officer, Pathologist",
							"thumb": {"src": "images/our-team-08-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
							"styleClass": "odd"
						})
					.col-sm-8.col-md-7.col-lg-3.offset-top-41.offset-md-top-0
						+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Martha Schmidt",
							"description": "EKG Technician",
							"thumb": {"src": "images/our-team-02-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile"
						})
					.col-sm-8.col-md-7.col-lg-3.offset-top-41.offset-md-top-0
						+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Sam McMillan",
							"description": "Histotechnologist",
							"thumb": {"src": "images/our-team-03-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
							"styleClass": "odd"
						})
					.col-sm-8.col-md-7.col-lg-3.offset-top-41.offset-md-top-0
						+thumbnail-josip(
						{
							"type": "thumbnail",
							"title": "Dr. Mary Smith",
							"description": "Phlebotomist",
							"thumb": {"src": "images/our-team-04-270x270.jpg", "width": 270, "height": 270, "alt": ""},
							"target": {"href": 'team-member.html'},
							"btnLink": 'team-member.html',
							"btnClass": "btn-white",
							"btnText": "view full profile",
						})


	section.section.section-md.p-xl-0
		.container-fluid
			h3.text-center Full-width Layout
			.justify-content-sm-center.row-30.row
				+thumbnail-josip(
					{
						"type": "thumbnail",
						"title": "Dr. Scott Riley",
						"description": "Chief Medical Officer, Pathologist",
						"thumb": {"src": "images/our-team-05-384x410.jpg", "width": 384, "height": 410, "alt": ""},
						"target": {"href": 'team-member.html'},
						"btnLink": 'team-member.html',
						"btnClass": "btn-white",
						"btnText": "view full profile",
						"styleClass": "thumbnail-big"
					})
				+thumbnail-josip(
					{
						"type": "thumbnail",
						"title": "Dr. Jane Fowler",
						"description": "Clinical Laboratory Technologist",
						"thumb": {"src": "images/our-team-06-384x410.jpg", "width": 384, "height": 410, "alt": ""},
						"target": {"href": 'team-member.html'},
						"btnLink": 'team-member.html',
						"btnClass": "btn-white",
						"btnText": "view full profile",
						"styleClass": "thumbnail-big"
					})
				+thumbnail-josip(
					{
						"type": "thumbnail",
						"title": "Dr. Eric Snyder",
						"description": "MRI Technologist",
						"thumb": {"src": "images/our-team-07-384x410.jpg", "width": 384, "height": 410, "alt": ""},
						"target": {"href": 'team-member.html'},
						"btnLink": 'team-member.html',
						"btnClass": "btn-white",
						"btnText": "view full profile",
						"styleClass": "thumbnail-big offset-md-top-0 odd"
					})
				+thumbnail-josip(
					{
						"type": "thumbnail",
						"title": "Dr. Martha Schmidt",
						"description": "EKG Technician",
						"thumb": {"src": "images/our-team-08-384x410.jpg", "width": 384, "height": 410, "alt": ""},
						"target": {"href": 'team-member.html'},
						"btnLink": 'team-member.html',
						"btnClass": "btn-white",
						"btnText": "view full profile",
						"styleClass": "thumbnail-big offset-md-top-0"
					})
				+thumbnail-josip(
					{
						"type": "thumbnail",
						"title": "Dr. James Wilson",
						"description": "Radiology Technician",
						"thumb": {"src": "images/our-team-09-384x410.jpg", "width": 384, "height": 410, "alt": ""},
						"target": {"href": 'team-member.html'},
						"btnLink": 'team-member.html',
						"btnClass": "btn-white",
						"btnText": "view full profile",
						"styleClass": "thumbnail-big "
					})



	section.section.section-lg.bg-default
		.container
			h3.text-center 3 Column Layout
			hr.divider.divider-lg.bg-java
			.row.justify-content-sm-center.text-left.row-30
				.col-sm-8.col-lg-4.inset-lg-right-30
					.unit.flex-xxl-row.flex-xl-row.flex-lg-column.flex-md-row.flex-sm-row.unit-spacing-sm
						.unit-left
							+img-set-dimensions('images/user-scott-riley-110x110.jpg', 'img-responsive')
						.unit-body
							h5.font-weight-bold.text-primary Dr. Scott Riley
							p.font-italic.offset-top-0 Chief Medical Officer, Founder
							.p.unit.unit-spacing-xxs.flex-row
								.unit-left
									span.icon.icon-xs.mdi.mdi-phone.text-primary
								.unit-body
									a(href="tel:#").h6 1-800-1234-567
					p Morbi luctus, lorem ut molestie mattis, arcu nisl hendrerit mi, ac ultrices odio arcu a sapien. Morbi a massa blandit.
				.col-sm-8.col-lg-4
					.unit.flex-xxl-row.flex-xl-row.flex-lg-column.flex-md-row.flex-sm-row.unit-spacing-sm
						.unit-left
							+img-set-dimensions('images/user-johnny-fowler-110x110.jpg', 'img-responsive')
						.unit-body
							h5.font-weight-bold.text-primary Dr. Eric Snyder
							p.font-italic.offset-top-0 MRI Technologist
							.p.unit.unit-spacing-xxs.flex-row
								.unit-left
									span.icon.icon-xs.mdi.mdi-phone.text-primary
								.unit-body
									a(href="tel:#").h6 1-800-1234-567
					p Mauris non cursus elit. Ut congue venenatis nisi, a efficitur turpis sodales eu. Cras at mi odio. In platea dictumst.

				.col-sm-8.col-lg-4
					.unit.flex-xxl-row.flex-xl-row.flex-lg-column.flex-md-row.flex-sm-row.unit-spacing-sm
						.unit-left
							+img-set-dimensions('images/user-eric-110x110.jpg', 'img-responsive')
						.unit-body
							h5.font-weight-bold.text-primary Dr. James Wilson
							p.font-italic.offset-top-0 Radiology Technician
							.p.unit.unit-spacing-xxs.flex-row
								.unit-left
									span.icon.icon-xs.mdi.mdi-phone.text-primary
								.unit-body
									a(href="tel:#").h6 1-800-1234-567
					p Aliquam risus urna, posuere in diam nec, eleifend bibendum metus. Etiam scelerisque dui id erat facilisis, accumsan.




	// Page Footer
	include ../sections/_section-footer-default