//- Includes
include  ../elements/_ui-box-icon-type-4

// 505
section
  .container
    .row
      .section-110.section-cover.row.justify-content-sm-center.align-items-sm-center
        .col-xl-12
          h2.text-white Service is Temporary Unavailable
          .row.justify-content-sm-center.offset-top-41
            .col-xl-6
              .text-extra-big.text-white-opacity-02.font-accent 503
              p.offset-top-50 Sorry, we're offline right now to make our site even better. Please, come back later and check what we've been up to.
              .group.offset-top-30
                a.btn.btn-ellipse.btn-specific(href= 'index.html')
                  | back to home page