//What makes us different
section.section-lg.bg-default-liac
	.container.text-center.text-lg-left
		h3 What Makes Us Different
		.row.offset-top-60.row-50
			.col-md-6.col-lg-4
				.icon.icon-xlg.icon-circle.icon-default.icon-pills-xl
				h5.font-weight-bold.text-gray-darkest Qualified Specialists
				p We hire the best specialists to deliver top-notch diagnostic services for you.
			.col-md-6.col-lg-4.offset-md-top-0
				.icon.icon-xlg.icon-circle.icon-default.icon-doctor-xl
				h5.font-weight-bold.text-gray-darkest Modern Equipment
				p We use the first-class medical equipment for timely diagnostics of various diseases.
			.col-md-6.col-lg-4.offset-md-top-0
				.icon.icon-xlg.icon-circle.icon-default.icon-medical-car-xl
				h5.font-weight-bold.text-gray-darkest Emergency Diagnostics
				p Our emergency diagnostics services help you get the most accurate diagnosis in a minimal time.