section.section.swiper-container.swiper-slider.bg-default( data-swiper!={
	autoplay: {
		delay: 5000
	},
	effect: 'fade'
})
	.swiper-wrapper.text-center
		#page-loader.swiper-slide(data-slide-bg="images/slide-01.jpg")
			.swiper-caption
				.swiper-slide-caption
					.container
						.row
							.col-lg-7.section-slider-custom
								.inset-xl-right-80.text-lg-left
									h2
										| Take Care of
										br.d-block
										=' Your Health'
									h5.d-none.d-lg-block.mw-400 At Medina, we are dedicated to diagnosing all kinds of diseases.
									a(href="make-an-appointment.html").btn.btn-ellipse.btn-white.offset-top-24 make an appointment


		.swiper-slide(data-slide-bg="images/slide-02.jpg")
			.swiper-caption
				.swiper-slide-caption
					.container
						.row
							.col-lg-6.section-slider-custom.to-front
								.text-lg-left
									h2
										| Years of
										br.d-block
										= ' Experience'
									h5.d-none.d-lg-block.mw-400 Since our foundation, we've been delivering diagnostic solutions.
									a(href="make-an-appointment.html").btn.btn-ellipse.btn-white.offset-top-24 make an appointment


		.swiper-slide(data-slide-bg="images/slide-03.jpg")
			.swiper-caption
				.swiper-slide-caption
					.container
						.row
							.col-lg-7.section-slider-custom
								.text-lg-left
									h2
										| Qualified Team
										br.d-block
										| of Experts
									h5.d-none.d-lg-block.mw-400 Our team of diagnosticians is always ready to help you be healthier.

									a(href="make-an-appointment.html").btn.btn-ellipse.btn-white.offset-top-24 make an appointment


	.swiper-pagination