//
// List groups
// --------------------------------------------------

// Individual list items
//
.list-group-item {
	> .badge {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

// Contextual variants
//
// Add modifier classes to change text and background color on individual items.
// Organizationally, this must come after the `:hover` states.

@include list-group-item-variant(success, $state-success-bg, $white);
@include list-group-item-variant(info, $state-info-bg, $white);
@include list-group-item-variant(warning, $state-warning-bg, $white);
@include list-group-item-variant(danger, $state-danger-bg, $white);


/** @section Lists */

// Vertical list
.list {
	> li + li {
		margin-top: 10px;
	}
}

.list-xs > li + li {
	margin-top: 5px;
}

.list-sm > li + li {
	margin-top: 10px;
}

.list-md > li + li {
	margin-top: 18px;
}

.list-lg > li + li {
	margin-top: 25px;
}

.list-xl > li + li {
	margin-top: 30px;
}

@include media-breakpoint-up(md) {
	.list-xl > li + li {
		margin-top: 60px;
	}
}


// List inline
.list-inline {
	> li {
		display: inline-block;
	}
}


// List terms
.list-terms {
	* + & {
		margin-top: 25px;
	}
	
	& + * {
		margin-top: 25px;
	}
	
	dt + dd {
		margin-top: 5px;
	}
	
	dd + dt {
		margin-top: 25px;
	}
}


// Index list
.index-list {
	counter-reset: li;
	
	> li {
		.list-index-counter {
			&:before {
				content: counter(li, decimal-leading-zero);
				counter-increment: li;
			}
		}
	}
}


// Marked list
.list-marked {
	text-align: left;
	
	> li {
		position: relative;
		padding-left: 25px;
		
		&::before {
			position: absolute;
			display: inline-block;
			left: 0;
			top: 12px;
			min-width: 25px;
			content: '\f105';
			font: 400 14px/24px 'FontAwesome';
			color: $gray-400;
		}
	}
	
	> li + li {
		margin-top: 4px;
	}
}

* + .list-marked {
	margin-top: 15px;
}

p + .list-marked {
	margin-top: 10px;
}


// Ordered List
.list-ordered {
	counter-reset: li;
	text-align: left;
	
	> li {
		position: relative;
		padding-left: 25px;
		
		&:before {
			position: absolute;
			content: counter(li, decimal) '.';
			counter-increment: li;
			top: 0;
			left: 0;
			display: inline-block;
			width: 15px;
			color: $gray-400;
		}
	}
	
	> li + li {
		margin-top: 10px;
	}
}

* + .list-ordered {
	margin-top: 15px;
}


.list{
	li + li{
		margin-top: 10px;
	}
}


// List terms
.list-terms {
	* + & {
		margin-top: 25px;
	}
	
	& + * {
		margin-top: 25px;
	}
	
	dt + dd {
		margin-top: 5px;
	}
	
	dd + dt {
		margin-top: 25px;
	}
}
