//
// Custom Thumbnails
// --------------------------------------------------

// Base styles
// --------------------------------------------------

%thumbnail {
	&,
	> figure {
		position: relative;
		display: block;
	}
	
	img,
	figure img {
		width: 100%;
		height: auto;
		transition: .35s;
		will-change: transform;
	}
	
	figure figcaption,
	figcaption {
		position: absolute;
	}
}

// Bootstrap Thumbnail
// -------------------------

.thumbnail {
	transition: .3s;
	border: none;
	box-shadow: $shadow-area-md;
}

a.thumbnail:hover {
	box-shadow: $shadow-area-lg;
}

// Thumbnail custom
// -------------------------

.thumbnail-custom {
	@extend %thumbnail;
	position: relative;
	
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(#294481, .7);
		opacity: 0;
		z-index: 2;
		transition: .22s ease-in;
	}
	
	.thumbnail-custom-caption {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		@include transform(translateY(-50%));
		opacity: 0;
		z-index: 4;
		transition: .22s ease-in;
		padding-left: 10px;
		padding-right: 10px;
		
		&:before {
			content: '\f00e';
			display: inline-block;
			font-family: 'FontAwesome';
			font-size: 24px;
			color: $white;
			margin-bottom: 10px;
			@include transform(scale(0));
			transition: .2s ease-in-out;
			transition-delay: .1s;
		}
	}
	
	&:hover {
		.thumbnail-custom-caption,
		&:before {
			opacity: 1;
		}
		
		.thumbnail-custom-caption:before {
			@include transform(scale(1));
		}
	}
}

// Thumbnail Classic
// -------------------------

.thumbnail-classic {
	@extend %thumbnail;
	
	> img,
	> figure > img {
		box-shadow: 0 0 0 0 nth($shadow-area-md, 5);
	}
	
	> figure figcaption,
	> figcaption {
		top: 50%;
		left: 0;
		right: 0;
		padding: $thumbnail-classic-figcaption-padding;
		transform: translateY(-50%);
		@include transition(0.3s all ease);
	}
	
	&-title {
		position: absolute;
		top: 50%;
		left: 15px;
		right: 15px;
		z-index: 9;
		padding: $thumbnail-classic-title-padding;
		margin-bottom: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		background: $thumbnail-classic-title-background;
		box-shadow: $thumbnail-classic-title-box-shadow;
		transform: translateY(-50%);
		@include transition(0.3s all ease);
	}
	
	&-desc {
		padding: $thumbnail-classic-desc-padding;
		opacity: 0;
		color: $thumbnail-classic-desc-color;
		background: $thumbnail-classic-desc-background;
		box-shadow: $thumbnail-classic-desc-box-shadow;
		transform: scale(0.9);
		@include transition(0.3s all ease);
	}
}

.tablet .thumbnail-classic,
.thumbnail-classic:hover {
	z-index: 1;
	
	> img,
	> figure > img {
		box-shadow: $thumbnail-classic-hover-box-shadow;
		transform: scale(1.05);
		will-change: contents;
	}
	
	> figure figcaption,
	> figcaption {
		margin-top: 30px;
	}
	
	.thumbnail-classic-title {
		margin-bottom: 14px;
		top: 0;
	}
	
	.thumbnail-classic-desc {
		opacity: 1;
		transform: scale(1);
	}
}

// Thumbnail Zoe
// -------------------------

.thumbnail-zoe {
	@extend %thumbnail;
	box-shadow: $shadow-area-sm;
	@include transition(0.3s box-shadow ease);
	
	&,
	> figure {
		overflow: hidden;
	}
	
	figcaption {
		width: 100%;
		top: auto;
		bottom: 0;
		height: 60px;
		padding-left: 1.3em;
		padding-right: 1.3em;
		background: $thumbnail-zoe-figcaption-background;
	}
	
	&-title {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-transform: uppercase;
		letter-spacing: 0.06em;
		margin-top: 25px;
		font-weight: 700;
	}
	
	.list-inline {
		text-align: center;
		margin-top: 20px;
		
		li {
			vertical-align: middle;
			
			a {
				@include transition(0.3s all ease);
				
				&:hover {
					color: $thumbnail-zoe-title-list-hover-color;
				}
			}
			
			& + li {
				margin-left: 8px;
			}
		}
	}
	
	&:hover {
		.list-inline li,
		.thumbnail-zoe-title,
		figcaption {
			transform: translate3d(0, 0, 0);
		}
		
		.thumbnail-zoe-title {
			transition-delay: 0.05s;
		}
		
		.list-inline li:nth-child(3) {
			transition-delay: 0.1s;
		}
		
		.list-inline li:nth-child(2) {
			transition-delay: 0.15s;
		}
		
		.list-inline li:first-child {
			transition-delay: 0.2s;
		}
	}
	
	@include media-breakpoint-up(xl) {
		box-shadow: none;
		
		.list-inline li,
		.thumbnail-zoe-title,
		figcaption {
			transition: transform 0.3s;
			transform: translate3d(0, 200%, 0);
		}
		
		figcaption {
			height: 75px;
		}
		
		.list-inline {
			float: right;
			margin-top: 26px;
		}
		
		&:hover {
			box-shadow: $shadow-area-sm;
			
			img,
			figure > img {
				transform: translate3d(0, -40px, 0);
			}
		}
	}
}

// Thumbnail Winston
// -------------------------

.thumbnail-winston {
	@extend %thumbnail;
	
	figure figcaption,
	figcaption {
		position: static;
		width: 100%;
	}
	
	&-title {
		padding: $thumbnail-winston-title-padding;
		margin-bottom: 0;
		font-weight: 300;
		color: $thumbnail-winston-title-color;
		text-align: center;
		background: $thumbnail-winston-title-background;
		transition: transform 0.35s, opacity 0.35s;
	}
	
	p {
		display: inline-block;
		margin: $thumbnail-winston-left-items-offsets;
		padding: $thumbnail-winston-left-items-padding;
		font-weight: 500;
		text-transform: none;
		background: $thumbnail-winston-left-items-background;
		transition: transform 0.35s, opacity 0.35s;
		
		&:first-child {
			transition-delay: 0s;
		}
		
		&:nth-of-type(2) {
			transition-delay: 0.05s;
		}
		
		&:nth-of-type(3) {
			transition-delay: 0.1s;
		}
	}
	
	&:hover {
		p,
		.thumbnail-winston-title {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	
	@include media-breakpoint-up(xl) {
		&,
		> figure {
			overflow: hidden;
		}
		
		figure figcaption,
		figcaption {
			position: absolute;
			top: 15%;
			left: 6%;
			width: auto;
		}
		
		p {
			opacity: 0;
			transform: translate3d(-360px, 0, 0);
		}
		
		&-title {
			padding: $thumbnail-winston-title-lg-padding;
			margin-bottom: 18px;
			text-align: left;
			opacity: 0;
			transform: translate3d(0, -360px, 0);
		}
	}
}

// Thumbnail Josip
// -------------------------

.thumbnail-josip {
	@extend %thumbnail;
	display: flex;
	flex-direction: column;
	figcaption{
		right: 0;
		text-align: center;
	}
	figure figcaption,
	figcaption {
		position: static;
		height: $thumbnail-josip-figcaption-height;
		padding: $thumbnail-josip-figcaption-padding;
		text-align: left;
		text-transform: none;
		vertical-align: middle;
		backface-visibility: hidden;
		transition: 0.3s, opacity 0.4s 0.3s;
		@include media-breakpoint-up(xl) {
			width: 100%;
			max-width: 100%;
		}
	}
	.btn-white {
		background-color: $gray-darkest;
		border-color: $gray-darkest;
		color: $white;
		text-align: center;
		@include media-breakpoint-up(xl) {
			background-color: $white;
			border-color: $white;
			color: $gray-darkest;
			&:hover {
				background-color: $gray-darkest;
				border-color: $gray-darkest;
				color: $white;
			}
		}
	}
	
	
	&.odd {
		.thumbnail-desc {
			background: darken(desaturate(adjust_hue($primary, 0.04214075010531815), 0.041170746313355266%), 4.901960784313715%);
		}
	}
	
	&:nth-child(even) {
		.thumbnail-desc {
			background: $primary;
		}
	}
	
	a {
		display: inline-block;
		width: 100%;
	}
	
	.btn {
		padding: 16px 10px;
		
		@include media-breakpoint-up(xl) {
			padding: 16px 30px;
		}
	}
	
	.thumbnail-desc {
		background: $primary;
		padding: 33px 10px;
		flex-grow: 1;
		transition: .3s ease;
		@include media-breakpoint-up(xl) {
			padding: 33px 30px;
		}
		
		p {
			opacity: .4;
		}
		
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
	}
	
	.btn-java:hover {
		background: #294481;
		border-color: #294481;
	}
	
	&-title, p {
		overflow: hidden;
		display: block;
		text-overflow: ellipsis;
	}
	
	&-title {
		color: $white;
	}
	
	&:hover {
		figcaption {
			opacity: 1;
			transform: translateY(0px);
			transition: transform 0.3s, opacity 0.1s;
		}
	}
	
	@include media-breakpoint-up(lg) {
		&,
		> figure {
			overflow: hidden;
		}
		figure figcaption,
		figcaption {
			position: absolute;
			top: auto;
			bottom: 0;
			left: 0;
			opacity: 0;
			padding: 0;
			@include transform(translateY(100%));
		}
		
		&:hover {
			.thumbnail-desc {
				@include transform(translateY(-50px));
			}
		}
	}
	
	&.thumbnail-big {
		max-width: 380px;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(xl) {
			width: 20%;
			max-width: none;
		}
	}
}

.tablet {
	.thumbnail-josip {
		figcaption {
			opacity: 1;
			@include transform(translateY(0px));
		}
		
		.thumbnail-desc {
			padding: 22px 10px;
			@include transform(translateY(0px));
			@include media-breakpoint-up(lg) {
				@include transform(translateY(-50px));
			}
		}
	}
}

// Thumbnail Janes
// -------------------------

.thumbnail-janes {
	@extend %thumbnail;
	box-shadow: $shadow-area-md;
	@include transition(box-shadow 0.4s);
	
	&,
	> figure {
		overflow: hidden;
	}
	
	figcaption {
		position: static;
		padding: $thumbnail-janes-figcaption-padding;
		top: 0;
		left: 0;
		height: 100%;
		text-align: left;
		background: $thumbnail-janes-figcaption-background;
		backface-visibility: hidden;
		@include transition(transform 0.3s)
	}
	
	p {
		margin-top: 5px;
		margin-bottom: 10px;
		max-height: 50px;
		overflow: hidden;
	}
	
	&:hover {
		figcaption {
			opacity: 1;
			@include transform(translateX(0));
		}
	}
	
	@include media-breakpoint-up(xl) {
		box-shadow: none;
		
		figcaption {
			position: absolute;
			padding: $thumbnail-janes-figcaption-lg-padding;
			width: 101%;
			@include transform(translateX(-100%));
		}
		
		p {
			max-height: 75px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		
		&:hover {
			box-shadow: $thumbnail-janes-figcaption-lg-hover-box-shadow;
			
			img {
				@include transform(translateX(25%));
			}
		}
	}
	@include media-breakpoint-up(xxl) {
		figcaption {
			width: 50%;
		}
		
		p {
			max-height: none;
			margin-top: 18px;
			margin-bottom: 18px;
		}
	}
}

// Thumbnail Apollo
// -------------------------

.thumbnail-apollo {
	@extend %thumbnail;
	box-shadow: $shadow-area-md;
	
	figure figcaption,
	figcaption {
		position: static;
		padding: $thumbnail-apollo-figcaption-padding;
		text-align: left;
		transition: .3s;
		transition-delay: (0.2s);
	}
	
	p {
		margin-top: 5px;
		margin-bottom: 0;
		max-height: 45px;
		overflow: hidden;
	}
	
	.icon-xxs {
		font-size: 18px;
		line-height: 18px;
	}
	
	@include media-breakpoint-up(md) {
		box-shadow: none;
		
		img {
			opacity: 1;
			@include transition(opacity 0.35s, transform 0.35s);
			@include transform(scale3d(1.05, 1.05, 1));
		}
		
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.5);
			content: '';
			@include transition(transform 0.6s);
			@include transform(scale3d(2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -110%, 0));
		}
		
		&:hover {
			img {
				opacity: 0.5;
				@include transform(scale3d(1, 1, 1));
			}
			
			figcaption {
				opacity: 1;
			}
			
			&:before {
				@include transform(scale3d(2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0));
			}
		}
		
		&,
		figure {
			overflow: hidden;
			background: $thumbnail-apollo-hover-overlay;
		}
		figure figcaption,
		figcaption {
			position: absolute;
			top: 50%;
			width: 100%;
			padding: $thumbnail-apollo-padding;
			margin-top: 0;
			color: $thumbnail-apollo-color;
			opacity: 0;
			@include transform(translateY(-50%));
		}
		
		p {
			max-height: none;
			margin-top: 18px;
			margin-bottom: 18px;
		}
	}
	
	@include media-breakpoint-up(md) {
		&.thumbnail-apollo-dark:hover img {
			opacity: .2;
		}
	}
}

// fix for apollo with border
.thumbnail-apollo.thumbnail-apollo-bordered {
	border: 1px solid $gray;
	box-shadow: none;
	
	figure figcaption,
	figcaption {
		border-top: 1px solid $gray;
	}
	
	@include media-breakpoint-up(md) {
		figure figcaption,
		figcaption {
			border-top: none;
		}
	}
	@include media-breakpoint-up(xl) {
		width: 99%;
	}
	@include media-breakpoint-up(xxl) {
		width: 96%;
	}
}

.tablet {
	.thumbnail-apollo {
		box-shadow: $shadow-area-md;
		
		figure figcaption,
		figcaption {
			position: static;
			padding: $thumbnail-apollo-figcaption-padding;
			opacity: 1;
			@include transform(translateY(0));
			color: $black;
		}
		
		img {
			opacity: 1;
			@include transform(scale3d(1, 1, 1));
		}
		
		&:before {
			display: none;
		}
		
		&, figure {
			background: transparent;
		}
	}
}

// Thumbnail Terry
// -------------------------

.thumbnail-terry {
	@extend %thumbnail;
	
	&.thumbnail-border-none {
		img {
			border-radius: 0;
		}
	}
	
	&:before {
		display: none;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-radius: $border-radius;
		background: #000;
		opacity: 0;
		@include transition(0.35s all ease);
		z-index: 2;
	}
	
	figcaption {
		position: relative;
		top: -1px;
		width: 100%;
		padding: 20px 15px;
		text-align: center;
		text-transform: none;
		vertical-align: middle;
		background: $gray-darker;
		backface-visibility: hidden;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		@include transition(0.35s all ease);
		z-index: 1;
		will-change: transform;
	}
	
	img {
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
	}
	
	&-title,
	&-desc {
		color: $white;
		overflow: hidden;
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-right: 5px;
	}
	
	&-desc {
		display: none;
	}
	
	@include media-breakpoint-up(lg) {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: $border-radius;
			background: rgba(0, 0, 0, 0.3);
			background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
			will-change: transform;
		}
		&,
		> figure {
			overflow: hidden;
		}
		&-desc,
		&:before {;
			display: block;
		}
		img {
			border-radius: $border-radius;
		}
		figcaption {
			position: absolute;
			top: auto;
			bottom: 0;
			left: 0;
			z-index: 2;
			padding: 30px 15px;
			background: transparent;
			@include transform(translateY(50px));
		}
		.btn {
			opacity: 0;
			@include transform(translateY(100%) scale(0.8));
		}
		&:hover {
			.btn, figcaption {
				opacity: 1;
				@include transform(translateY(0) scale(1));
			}
			
			&:before {
				opacity: 0.25;
			}
		}
	}
}

.tablet .thumbnail-terry {
	.btn, figcaption {
		opacity: 1;
		@include transform(translateY(0) scale(1));
	}
	
	&:before {
		opacity: 0.25;
	}
}

// Thumbnail Rayen
// -------------------------

.thumbnail-rayen {
	@extend %thumbnail;
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: $thumbnail-rayen-overlay-bg;
		opacity: 0;
		@include transition(0.35s all ease);
		z-index: 1;
	}
	
	figcaption {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		color: $thumbnail-rayen-icon-color;
		opacity: 0;
		transform: translate(-50%, 100%) scale(0);
		@include transition(0.35s all ease);
		z-index: 2;
	}
	
	.icon {
		&:hover {
			color: $brand-picton-blue;
			@include transition(0.35s color ease);
		}
	}
	
	&:hover {
		&:before {
			opacity: 0.5;
		}
		
		figcaption {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

.tablet .thumbnail-rayen,
.mobile .thumbnail-rayen {
	figcaption {
		left: 50%;
		top: 50%;
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -50%) scale(1);
		
		a {
			.icon {
				font-size: 26px;
				line-height: 26px;
			}
		}
	}
	
	&:before {
		opacity: 0.25;
	}
}
